:root {
  --dark-color: hsl(0, 0%, 20%);
  --light-color: hsl(0, 0%, 90%);
}

*,
*::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  background-color: var(--dark-color);
}

.header {
  padding-block: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--light-color);
  text-align: center;
  border-bottom: 3px dotted;
}

.header h1 {
  margin: 0;
}

.main {
  margin: 5rem auto;
  width: min(95%, 80rem);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

img {
  width: 100%;
  display: block;
  border-radius: 4px;
  opacity: 0.8;
  filter: grayscale(100%);
  transition: all 300ms ease-in-out;
}

img:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* Descomenta separadamente las dos siguientes reglas para entender el alcance de los nuevos selectores */

/* img:nth-child(n + 7) {
    grid-column: span 2;
} */

/* img:nth-child(n + 7):nth-child(-n + 9) {
  grid-column: span 2;
} */

@media (max-width: calc(48rem - 1px)) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
